html { font-family: Arial, Helvetica, sans-serif; }
.clear { clear: both; }
.mgTop30px { margin-top: 30px; }
.mgTop45px { margin-top: 45px; }
.mgBot5px { margin-bottom: 5px; }
.mgBot20px { margin-bottom: 20px; }
.mgBot10px { margin-bottom: 10px; }
.botao { font-family: "Verdana"; cursor: pointer; background: url(../img/bg/botao.gif)!important; border: 0; font-weight: bold; font-size: 12px; color: #ffffff; width: 210px; margin-top: 10px; padding: 8px; }
.floatRight { float: right; }
.floatLeft { float: left; }
.ver-mais,.ver-detalhes { background: url(../img/bg/ver-mais.gif) right no-repeat; height: 20px; display: block; text-align: right; color: #013d65; font-weight: bold; font-size: 11px; padding: 3px 8px 0 20px; margin: 10px 5px 10px 0; }
.ver-detalhes { background: url(../img/bg/ver-detalhes.gif) no-repeat; height: 21px; }
#print-head, .footer-print { display: none; }

#header { width: 100%; height: 102px; background: #e6eef0; float: left; margin-bottom: 12px;}
#header .header-wrapper { width: 987px; height: 74px; background: url(../img/bg/header.gif); margin: 0 auto; position:relative;}

.header-manual { padding: 10px; }
.header-manual h1 { float: left; }
.header-manual a { float: right; }

.cnt-login { width: 745px; margin: 0 auto; margin-top: 60px; }
.cnt-login .login { width: 317px; float: left; }
.cnt-login .login h1 { background: url(../img/logo-boa-vista-login.gif) no-repeat; width: 192px; height: 73px; margin-bottom: 25px; }
.cnt-login .login h1 span { display: none; }
.cnt-login .login label { display: block; color: #013d65; font-size: 12px; font-weight: bold; padding-bottom: 3px;}
.cnt-login .login input { border: 1px solid #546f7d; background: #e6eef0; width: 257px; padding: 8px; }
.cnt-login .login li { padding-bottom: 15px; }
.cnt-login .login .botao { width: 274px!important; }
.cnt-login .login a { color: #013d65; font-size: 12px; margin-top: 10px; float: left; }
.cnt-login .login p { font-size: 12px; width: 280px; margin: 43px 0 0 0; }
.cnt-login .login .usuario-preenchido { border: 2px solid #e6eaec; padding: 10px; font-size: 12px; color: #013d65; width: 251px;  }
.cnt-login .login .lembrar-usuario { font-size: 12px; color: #555555; font-family: Trebuchet MS; padding-top: 10px; }
.cnt-login .login .lembrar-usuario input { border: 0; padding: 0; margin: 0; width: 13px; height: 13px; vertical-align: middle; background: none; }
.cnt-login .texto { background: url(../img/divisor-login.gif) left no-repeat; width: 387px; float: left; padding: 57px 0 0 36px; }
.cnt-login .texto p { font-size: 12px; margin-bottom: 20px; }
.cnt-login .texto p strong { color: #013d65; }

.consultas { float: left; background: #e9edee; padding: 10px 10px 10px 10px; }
.consultas ul li { float: left; font-size: 12px; font-weight: bold; padding: 0 4px 0 4px; }
.consultas ul li.divisor { color: #7b7d7e; font-weight: normal; }
.consultas ul li a { color: #4c6877; text-decoration: none; font-size: 12px; padding: 3px 10px 3px 10px; }
.consultas ul li a.on { background-color:#4C6877; color:#fff; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }


.voltar { float: left; background: #f6f7f8; width: 205px; padding: 8px 10px 10px 10px; margin-left: 1px; }
.voltar a { display: block; background: url(../img/bg/seta-voltar.gif) left no-repeat; padding-left: 20px; margin: 0 0 0 10px; color: #4c6877; font-weight: bold; height: auto; font-size: 12px; float: left; }


.time-consulta { width: 270px; height: 14px; font-size: 11px; color: #555; float: right; margin: 0 8px 0 0!important; margin: 0 4px 0 0; position: absolute; right: 0px; top:7px; }
.time-consulta span { float: right; padding: 0 5px 0 0; line-height: 11px; }
.time-consulta img { float: right; border: 0; }

.aviso { display: none; background: url(../img/bg/aviso.gif) no-repeat; width: 245px; height: 62px; padding: 12px 10px 0 10px; position: absolute; top: 17px; right: -8px; }
.aviso p { font-size: 10px; color: #013d65; line-height: 12px; }

.saldo-extrato {display: nonea; background: url(../img/bg/saldo.gif) no-repeat; width: 266px; height: 61px; line-height: 15px; font-size: 13px; color: #555; float: right; position: relative; padding: 5px 10px 0 22px; margin: -12px -32px 0 0; }
.saldo-extrato a {font-size: 10px; color: #003366; text-decoration: underline; }

.saldo { background: url(../img/bg/saldo.gif) no-repeat; width: 226px; height: 56px; float: right; margin: -15px 8px 0 0!important; margin: -15px 4px 0 0; font-size: 12px; padding: 8px 0 0 16px; line-height: 15px; }
.saldo .valor { color: #555; }
.saldo .valor strong { color: #013d65; }
.saldo .expira { color: #555; }
.saldo ul li { float: left; color: #005a94; font-size: 10px; }	
.saldo ul li a { font-size: 9px; color: #005a94; } 
.saldo ul li.divisor { padding: 0 2px 0 2px; }



.content { padding: 0px; margin-top:0px; }
.content h2 span{ font-weight:normal; }
.content p { font-size: 12px; }
.content p.subTitle { color: #013d65; font-weight: bold; margin-bottom: 30px; }
.content p.subTitle span { font-size: 10px; }
.content .manual-text { background: url(../img/bg/divisor-manual.gif) bottom center no-repeat; padding-bottom: 25px; margin-bottom: 5px; }
.content .manual-text p { margin-top: 20px; padding: 0 5px 0 5px; }

.content strong.blue {font-size: 12px!important; color: #013d65; }
.content strong.red { font-size: 12px!important; color: #8c1a00; }



.consultas-list { float: left; }
.consultas-list ul li { float: left; width: 183px; height: 80px; margin: 0 8px 0 2px; }
.consultas-list ul li a.normal,.consultas-list ul li a.double { display: block; text-align: center; width: 166px; height: 39px; background: #dedede; color: #555555; font-size: 15px; text-decoration: none; padding-top: 16px; float: left; cursor: default; }
.consultas-list ul li a.double { height: 47px; padding-top: 8px; }
.consultas-list ul li a.on { width: 164px; background: #bed0de; color: #013d65; border: 1px solid #dedede; font-weight: bold; cursor: pointer; }
.consultas-list ul li .double.on { height: 46px; padding-top: 7px; }
.consultas-list ul li .normal.on { height: 37px; }
.consultas-list ul li a.normal.on:hover, .consultas-list ul li a.double.on:hover { text-decoration: underline; }
.consultas-list ul li span.duvida { display: block; background: url(../img/ico/duvida-azul-cinza.gif) 0 0 no-repeat; float: left; width: 12px; height: 12px; padding: 0; margin: 0 0 0 5px; }

.botoes { text-align: left; margin-top: 20px; }

.links-funcionalidades { float: left; width: 100%; margin-bottom: 20px; }
.links-funcionalidades a { display: block; font-size: 11px; color: #013d65; font-weight: bold; text-decoration: none; height: 25px; padding: 0 0 0 30px; line-height: 25px; }
.links-funcionalidades a.back { background: url(../img/ico/back.gif) left no-repeat; margin: 9px 20px 0 20px!important; margin: 9px 10px 0 10px; float: left-; }
.links-funcionalidades a.imprimir { background: url(../img/ico/imprimir.gif) left no-repeat; margin: 9px 20px 0 0px!important; margin: 9px 10px 0 0px; float: left; }
.links-funcionalidades a.pdf { background: url(../img/ico/pdf.gif) left no-repeat; margin: 9px 0 0 10px; float: left; }
.links-funcionalidades a.manual { background: url(../img/ico/manual.gif) left no-repeat; float: left; margin: 9px 20px 0 0; }
.links-funcionalidades a.topo { background: url(../img/ico/topo.gif) left no-repeat; margin: 9px 0 0 0; }
.links-funcionalidades a.botao { color: #fff; padding: 0 20px 0 20px; width: auto; float: left; }
.links-funcionalidades li { float: left; }

.help-back { float: right; width: 100%; margin: 10px 0 -1px 0;  }
.help-back span { float: right; font-size: 10px; margin: 5px 10px 0px 0px; padding: 0px; }
.help-back ul { float: right; }
.help-back ul li { float: left; margin: 0; padding: 0; }
.help-back ul li.ajuda,.help-back ul li.seta-voltar { background: url(../img/bg/bg-ajuda-voltar.gif) no-repeat; }
.help-back ul li.ajuda { background-position: 0 0; width: 43px; height: 23px; margin: 0 0 0 0; }
.help-back ul li.ajuda a { margin: 5px 0 0 20px; float: left; }
.help-back ul li.seta-voltar { background-position: -43px 0; width: 36px; height: 23px; }
.help-back ul li.seta-voltar a { margin: 4px 0 0 13px; float: left; }

.cnt-resultado { border: 1px solid #dde3e6; }
.cnt-resultado td strong { font-size: 13px; color: #013d65; }
.cnt-resultado thead.darkblue th,.cnt-resultado tbody.darkblue td { background: #bfced9; text-align: left; }
.cnt-resultado thead.darkblue th { font-size: 14px; font-weight: bold; }
.cnt-resultado th strong.blue { font-size: 17px; color: #013d65; }
.cnt-resultado th strong.red { font-size: 17px; color: #8c1a00; }
.cnt-resultado td, .cnt-resultado th { padding: 7px; border-top: 1px solid #ffffff; }
.cnt-resultado tr.white td { border-top: 1px solid #E9EDEE; }
.cnt-resultado tr.blue td { background: #e9edee; }
.cnt-resultado tr.blue.tl td { text-align: left; padding-left: 10px!important; }
.cnt-resultado tr.divisor td { padding:0!important;height:15px; }
.cnt-resultado tr.red td { background: #f4eeed; }
.cnt-resultado td { font-size: 11px; color: #000000; padding: 7px 3px 7px 7px; }
.cnt-resultado th { font-size: 17px; font-weight: normal; color: #013d65; text-align: left; }
.cnt-resultado tr.red.full td,.cnt-resultado tr.red.full td strong { color: #8c1a00; font-size: 12px!important; }
.cnt-resultado tr.blue.full td,.cnt-resultado tr.blue.full td strong { color: #013d65; font-size: 13px!important; border-top: 0; font-weight: bold; }
.cnt-resultado tr.blue .detalhes { background: #f4f6f7; border: 1px solid #9db3c1; width: 97%; padding: 10px; display: none; }
.cnt-resultado tr.blue .detalhes ul { list-style-type: disc; margin: 10px 0 0 15px }
.cnt-resultado tr.blue .detalhes ul li { float: left; padding: 5px 10px 5px 0; width: 45%; }
.cnt-resultado tr.blue .detalhes p { padding: 10px 0 5px 0 }
.cnt-resultado .sub { padding-top: 0; padding-left: 10px!important; }
.cnt-resultado .sub .cnt-resultado { width: 99%; margin-bottom: 5px; }
.cnt-resultado .sub .cnt-resultado a { color: #013d65; }
.cnt-resultado .sub .cnt-resultado .border-top { border-top: 1px solid #dfe4e7; }
.cnt-resultado .sub .cnt-resultado .cnt-resultado { border: 1px solid #91abbd; }
.cnt-resultado .sub .cnt-resultado a.ver-mais { margin:10px 14px 15px 0!important; margin:10px 7px 15px 0; }
.cnt-resultado a.ver-mais { margin:10px 0px -1px 0!important; margin:10px 7px 15px 0; }

.cnt-resultado-red { border: 1px solid #dedede }
.cnt-resultado-red th { font-size: 17px; font-weight: normal; color: #FF0000; text-align: left;     padding: 7px;}
.cnt-resultado-red td { font-size: 11px; color: #000000; padding: 7px 3px 7px 7px; background: #f2eeed;  }
.cnt-resultado-red tr.red td strong { color: #FF0000; font-size: 13px!important; border-top: 0; font-weight: bold; }

.decisao-mensagem{ font-size: 16px; color: #000000; padding: 7px 3px 7px 7px; }
.div-img-vel-dash{padding: 7px 3px 7px 7px; }

.tb-result th,.tb-result td { border-right: 1px solid #fff !important; border-top: 1px solid #fff !important;}
.tb-result th { background: #e9edee; padding: 7px!important; font-size: 12px; font-weight: bold; text-align: center; }
.tb-result td { font-size: 11px; text-align: center; padding: 7px 3px 7px 3px!important; }
.tb-result td a { color: #013d65; }
.tb-result tr.blue td { background: #e9edee; }
.tb-result td.valor { text-align: right; border-right: 0!important; }
.tb-result td.last,.tb-result th.last { border-right: 0!important; }
.tb-result.textLeft th,.tb-result.textLeft td { text-align: left; padding: 7px!important; }

.tb-legenda { border-top: 1px solid #dde3e6; }
.tb-legenda td { vertical-align: top; font-size: 10px; padding: 5px; }
.tb-legenda td strong { font-size: 11px; }

.info { float: left; width: 100%; margin: 25px 0 15px 0; }
.info span { font-size: 10px; margin: 0 0 0 0; padding: 0; }

.box-red { background: #f4eeed; width: 100%; margin-top: 20px; padding: 10px 0 15px 0; color: #8c1a00; float: left; }
.box-red h6 { font-size: 18px; font-weight: bold; padding-left: 15px; }
.box-red p { font-size: 11px; padding: 3px 15px 0 15px; }
.box-red ul { margin: 10px 5px 0 0; }
.box-red ul li { float: left; color: #000; font-weight: bold; font-size: 11px; padding-right: 10px; }
.box-red ul li a { color: #000; font-weight: bold; font-size: 11px; }
.box-red.erro { width: 455px; margin-bottom: 15px; }
.box-red.erro h6 { font-size: 14px; }

.box-blue { border: 1px solid #d7dde1; background: #e9edee; width: 100%; margin-top: 20px; padding: 10px 0 15px 0; color: #013d65; float: left; }
.box-blue h6 { font-size: 18px; font-weight: bold; padding-left: 15px; }
.box-blue p { font-size: 11px; padding: 3px 0 0 15px; }

.cpf-consulta-links { font-size: 12px; float: left; margin-bottom: 20px; }
.cpf-consulta-links li { float: left; padding-right: 140px; }
.cpf-consulta-links li.last { padding-right: 72px; }

.tab-content .links-funcionalidades .imprimir { margin-right: 10px!important; margin-right: 5px; margin-top: 10px; }

.lista-cpf { float: left; margin-bottom: 10px; }
.lista-cpf li { font-size: 12px; line-height: 20px; }
.lista-cpf li img { background: url(../img/ico/consulta-realizada.gif) no-repeat; width: 141px; height: 20px; }
.lista-cpf li.erro { color: #8c1a00; margin-bottom: 0; }
.lista-cpf li.erro img { background: url(../img/ico/erro.gif) no-repeat; }

.hidden-content { display: none; }

#blocoSimples { display: block; }
#blocoMultiplo { display: none; }
#blocoMultiplo .botoes { }
#blocoMultiplo strong { color: #003e65; }
#blocoNome { display: none; }
#blocoNome .botoes { }
#blocoNome strong { color: #003e65; }


#footer { width: 100%; height: 102px; background: url(../img/bg/footer.gif); margin-top: 0px; position: absolute; bottom: 0px; }
#footer .cnt { width: 987px; height: 102px; background: url(../img/bg/footer.gif); margin: 0 auto; position: relative; }
#footer .cnt ul { position: absolute; right: 0; top: 28px; }
#footer .cnt ul li { float: left; font-size: 12px; font-weight: bold; color: #013d65; padding: 0 20px 0 20px; }
#footer .cnt ul li a { color: #013d65; text-decoration: none; }
#footer .cnt ul li img { vertical-align: middle; margin-right: 5px; }
#footer .cnt .copyright { position: absolute; top: 40px; left: 0; font-size: 11px; color: #005f9d; }
#footer .cnt .seta-footer { position: absolute; top: 71px; left: 1px; background: url(../img/bg/seta-footer.gif) no-repeat; width: 23px; height: 14px; }



.consultas-print .cnt-resultado { margin-bottom: 25px; }
.consultas-print .print-head { display: none; }
.botao-mais-menos{text-align: right;position: relative;margin: 2px 0px 5px 0px;cursor: pointer;height: 40px;}
.botao-mais-menos label{cursor: pointer;position: relative;top: 6px;font-size: 13px;font-weight: bold;color: #013d65;text-decoration: underline;right: 5px;}
.botao-mais-menos img{cursor: pointer;position: relative;top: 10px;right: 3px;}

.botao-mais-menos-red{text-align: right;position: relative;margin: 2px 0px 5px 0px;cursor: pointer;border: 1px solid #EEA400;background: #FFF8E8;height: 40px;}
.botao-mais-menos-red label{cursor: pointer;position: relative;top: 6px;font-size: 13px;font-weight: bold;color: #FF0000;text-decoration: underline;right: 5px;}
.botao-mais-menos-red img{cursor: pointer;position: relative;top: 10px;right: 3px;}

.main-score {
	 position: relative;
    width: 100%;
    margin-top:3%;
}

.valor-score {
  color: #fff;
  padding: 15px;
  position: relative;
  width: 150px;
  height: 100px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #c40827;
}

.valor-score:before {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    content: "";
    right: -29px;
    top: 52px;
    position: absolute;
}

.valor-score  span {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-top: 13px;
    margin-left: 25px;

}

.descricao-score {
    background: #fff;
    color: #000;
    padding: 15px;
    position: relative;
    width: 430px;
    height: 135px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #dde3e6;
    margin: -132px 0px 0px 200px;
    
}

.descricao-score span {
  display: inline-block;
  font-size: 11px;
  font-weight: bold; 
  margin-top: 40px;
}

.imagem-score {
    background: #fff;
    color: #fff;
    padding: 15px;
    position: relative;
    max-width: 210px; 
    max-height: 160px;
    margin: -145px 0px 0px 682px !important;
     z-index:1;
}


.probabilidade-score {
    background: #fff;
    color: #000;
    padding: 5px;
    position: relative;
    margin: -34px 0px 0px 680px !important;
    z-index:2;
}


.probabilidade-score span {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.probabilidade-nao-calculado-score {
    background: #fff;
    color: #000;
    padding: 5px;
    position: relative;
    margin: -15px 0px 0px 705px !important;
    z-index:2;
}


.probabilidade-nao-calculado-score span {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}


.valor-score-verde-escuro {background: #00b04f;border: 0px solid #00b04f;}
.valor-score-verde-escuro:before {border-left-color: #00b04f;}

.valor-score-verde-claro {background: #c8d975;border: 0px solid #c8d975;}
.valor-score-verde-claro:before {border-left-color: #c8d975;}

.valor-score-amarelo {background: #ffe38f;border: 0px solid #ffe38f;}
.valor-score-amarelo:before {border-left-color: #ffe38f;}

.valor-score-laranja {background: #e36714;border: 0px solid #e36714;}
.valor-score-laranja:before {border-left-color: #e36714;}

.valor-score-vermelho {background: #c40827;border: 0px solid #c40827;}
.valor-score-vermelho:before {border-left-color: #c40827;}

.valor-score-cinza {background: #7d7d7d;border: 0px solid #7d7d7d;}
.valor-score-cinza:before {border-left-color: #7d7d7d;}

.score-imagem-valor-inicial {
    position: relative;
    top: -44px;
    left: 683px;
    background-color: white;
    width: 10px;
    z-index: 2;
}

.score-imagem-valor-final {
    position: relative;
    top: -58px;
    left: 912px;
    background-color: white;
    width: 10px;
    z-index: 2;
}

@CHARSET "ISO-8859-1";

table tbody .dad_bar th{text-align: left;}

#identificacaoBasicoRelatorio .titulo-bar-tab-interna{float: left; border: 0;}
#layoutBlocoTitulosExtras tr td{text-align: left;}
#identificacaoBasicoRelatorio tr td span{color: #41a1de;text-align: left;}
#layoutBlocoAtencao .help-back ul{position: relative;width: 64px;height: 30px;border: 1px solid #f2c6c9;margin-top: 4px;left: 7px;float: right;background-color: #f2c6c9;}
#layoutBlocoAtencao .help-back ul li{position: relative;width: 16px;height: 16px;top: 2px;left: -5px;}
#layoutBlocoAtencao .help-back ul li img{position: relative;}
#layoutBlocoAtencao table tr td p{color: #6c686c;}
#layoutBlocoAtencao table tr td p label{font-weight: normal;}
#layoutBlocoAtencao table tr td p span{font-weight: bold; color: #ed2b14;font-size: 12px;}
#layoutScore #corpoBlocoScore tbody tr td{border: 0px;padding: 0px;}
#corpoBlocoScore{position: relative;left: -6px;width: 108%;}
#tabelaInternaDash tr td span{font-size: 12px;}
#tblScoreBlocoEsquerdo .dad_bar{color: #5E7DAB;font-weight: normal;}
#tblScoreBlocoEsquerdo .dad_bar div span{color: #686868;font-weight: bold;font-size: 20px;}
#tblScoreBlocoEsquerdo .dad_bar div label{color: #a62132;font-size: 35px;font-weight: bold;}
#tblScoreBlocoEsquerdo .dad_bar div{text-align: center;position: relative;left: -2px;line-height: 20px;}
#layoutScore tr td{padding: 0px;}
#idExtraSintegra th {font-family: Arial;font-size: 12px;font-weight: normal;color: #5E7DAB;text-align: left;}
#idExtraSintegra th .tit_tex {color: #FFFFFF;}
#idExtraSintegra th .tit_tex_atencao {color: #ec2914;}
#idExtraSintegra td {font-size: 12px;color: #8F8C8D;padding: 7px 3px 7px 7px;}
#idExtraSintegra {border: none;}

.tit_bar {background-color:#0D3F67;}
.grossa {font-weight: bold;font-size: 15px;padding: 6px 5px 5px 7px;}
.tit_tex {font-family: Arial;color: #FFFFFF;font-size: 16px;text-align: left;position: relative;font-weight: bold;}
.dad_bar {background-color: #E0EAF5;}
.subtitu_bar {background-color: #E0EAF5;}
.subtitu_bar_claro {background-color: #E6EFF9;}
.cnt-resultado th {font-family: Arial;font-size: 12px;font-weight: normal;color: #5E7DAB;text-align: left;}
.cnt-resultado th .tit_tex {color: #FFFFFF;}
.cnt-resultado th .tit_tex_atencao {color: #ec2914;}
.cnt-resultado td {font-size: 12px;color: #8F8C8D;padding: 7px 3px 7px 7px;}
.cnt-resultado {border: none;/*background-color: #FFF;*/}
.help-back ul li.ajuda, .help-back ul li.seta-voltar {background: none;}
.help-back {margin: -11px 0 -1px 0;  width: 184%;height: 30px;}
.help-back-auto {margin: -25px 0 -1px 0;}
.cnt-resultado tr.blue td {background: #F7F7F9;}
.fonte_bold {font-weight: bold;}
.cnt-resultado td span {font-family: arial;font-weight: normal;font-size: 15px;}
.existe-inf-complementar{border: 2px solid #fac02e !important;background-color: #FFFFFF;color: #686872 !important;font-size: 12px !important;font-weight: bold !important;text-align: left !important;}
.existe-inf-complementar img{position: relative;top: 2px;margin-right: 2px;}
.linha-inf-extra{background-color: #f9f7d5;text-align: left !important;border-bottom: 1px solid #FFF;}
.lbl-titulo-inf-extra{font-size: 16px;color: #095a94;font-weight: bold;}
.lbl-texto-inf-extra{color: #095a93;font-size: 12px;}
.ajuste-div-table{position: relative;width: 130px;}
.cnt-resultado th label{text-align: left;}

.btn-mais{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais a label{position: relative;padding: 3px;cursor: pointer;}
.btn-mais-ext{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais-ext label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos-ext{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-ext label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais-adm{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}

.btn-mais a{color: #23a555; font-size: 13px;font-weight: bold;font-family: Arial;}
.btn-mais-adm a{color: #23a555; font-size: 13px;font-weight: bold;font-family: Arial;}
.btn-mais-outra-empresa a{color: #23a555; font-size: 13px;font-weight: bold;font-family: Arial;}
.btn-mais-outra-empresa-ext a{color: #23a555; font-size: 13px;font-weight: bold;font-family: Arial;}
.btn-mais-outra-socio-ext a{color: #23a555; font-size: 13px;font-weight: bold;font-family: Arial;}
.btn-mais-outra-socio a{color: #23a555; font-size: 13px;font-weight: bold;font-family: Arial;}


.btn-mais a:link, a:visited {text-decoration: none}
.btn-mais-adm a:link, a:visited {text-decoration: none}
.btn-mais-outra-empresa a:link, a:visited {text-decoration: none}
.btn-mais-outra-empresa-ext a:link, a:visited {text-decoration: none}
.btn-mais-outra-socio-ext a:link, a:visited {text-decoration: none}
.btn-mais-outra-socio a:link, a:visited {text-decoration: none}

.btn-mais-adm label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos-adm{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-adm label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais-adm-ext{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais-adm-ext a label{position: relative;padding: 3px;cursor: pointer;}
.btn-mais-adm-ext label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos-adm-ext{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-adm-ext label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais-outra-empresa{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais-outra-empresa label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos-outra-empresa{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-outra-empresa label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais-outra-socio{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais-outra-socio label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos-outra-socio{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-outra-socio label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais-outra-empresa-ext{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais-outra-empresa-ext label{top: -4px;position: relative;padding: 3px;cursor: pointer;}
.btn-menos-outra-empresa-ext{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-outra-empresa-ext label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.btn-mais-outra-socio-ext{color: #23a555;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: block;float: left;}
.btn-mais-outra-socio-ext label{position: relative;padding: 3px;cursor: pointer;}
.btn-menos-outra-socio-ext{color: #b8191a;font-size: 13px;font-weight: bold;font-family: Arial;border: 1px solid #0C457F;margin-top: 2px;height: 14px;width: 14px;vertical-align: middle;position: absolute;display: none;float: left;}
.btn-menos-outra-socio-ext label{top: -2px;position: relative;padding: 3px;cursor: pointer;}
.div-btns-maismenos-img{width: 42px;}
.div-oculto-btns-mais-menos{display: none;width: 965px;border: 0;height: 220px;margin-bottom: 15px;}
.td-menos-mais{padding: 0px !important;border: 0 !important;}
.cnt-resultado-interna-esquerda{width: 470px;float: left;left: 10px;position: relative;}
.cnt-resultado-interna-direita{width: 470px;float: right;right: 10px;position: relative;}
.alinha-dados-tb-interna{text-align: center !important;}
.img-seta-atencao{top: 1px;left: 10px;}
.borda-interna-atencao{border-bottom: 2px solid #f8dad6;border-left: 2px solid #f8dad6;border-right: 2px solid #f8dad6;border-top: transparent !important;}
.ajuste-largura-valor{width: 92px;}
.tbl-score-bloco-direito{position: relative;height: 106px;float: left;top: 2px;left: 12px;}

.texto-esquerda{text-align: left !important;}
.img-restricoes{left: 20px; position:relative;width: 12px;height: 12px;}
.img-restricoes-alerta{width: 12px;height: 12px; width: 12px;height: 12px;position: relative;top: -16px; margin-left: 14px;}
.tit_bar_atencao{background-color: #f9e2e7;border-bottom: 2px solid #f8dad6;border-top: 2px solid #f8dad6 !important;}
.tit-bar-atencao-esquerda{border-left: 2px solid #f8dad6;}
.borda-score-inner{border-top: 1px solid #e9edee !important;border-bottom: 1px solid #e9edee !important;}
.tbl-score-bloco-esquerdo{position: relative;left: 4px;height: 92px;background-color: #E0EAF5;top: 10px;}
.inner-regua{width: 102px;height: 30px;border: 0;float: left;color: #000;text-align: center;font-weight: bold;margin-right: 1px;margin-bottom: 10px;margin-top: 15px;}
.inner-regua-verde{background-color: #bddac6;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.inner-rodape-regua-verde{background-color: #0eaa3d;width: 102px;height: 6px;position: relative;top: 39px;border-bottom-left-radius: 4px;}
.regua-verde-selecionada{background-color: #0eaa3d}
.inner-regua-verde-claro{background-color: #c0e6c1;}
.inner-rodape-regua-verde-claro{background-color: #6eda74;width: 102px;height: 6px;position: relative;top: 39px;}
.regua-verde-claro-selecionada{background-color: #6eda74}
.inner-regua-amarelo{background-color: #F9F588;}
.inner-rodape-regua-amarelo{background-color: #FFFF00;width: 102px;height: 6px;position: relative;top: 39px;}
.regua-amarelo-selecionada{background-color: #FFFF00}
.inner-regua-bege{background-color: #ead4bd;}
.inner-rodape-regua-bege{background-color: #d89636;width: 102px;height: 6px;position: relative;top: 39px;}
.regua-bege-selecionada{background-color: #d89636}
.inner-regua-vermelo{background-color: #e9bbbe;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.inner-rodape-regua-vermelho{background-color: #b6322e;width: 102px;height: 6px;position: relative;top: 39px;border-bottom-right-radius: 4px;}
.regua-vermelho-selecionada{background-color: #b6322e}
.compra-extra-div{border: 1px solid #6c686c !important;background-color: #fff9ed;color: #0D3F67 !important;font-size: 14px !important;font-weight: bold !important;text-align: left !important;width: 421px;height: 66px;position: absolute;margin: 0px 10px;}
.seta-score{position: relative;width: 97px;left: 0px;top: 15px;}
.div-texto-score{position: relative;width: 524px;height: 40px;margin-top: -10px;left: 3px;font-size: 13px;text-align: center;top: 10px;}
.inner-regua label{color: #0D3F67;top: 5px;position: relative;}
.tbl-score-bloco-direito tr td {padding: 0px;}
.div-titulo-informacao-de-mercado{border: 3px solid #c1e0f3 !important;height: 25px;background-color: #f1f9ff;}
.div-titulo-informacao-de-mercado img {position: relative;left: 10px;float: left;}
.div-titulo-informacao-de-mercado label {color: #095a93;float: left;left: 18px;position: relative;font-weight: bold;font-size: 14px;}
.div-texto-informacao-de-mercado {border: 3px solid #c1e0f3;}
.div-texto-informacao-de-mercado p {color: #686868;font-weight: normal;margin: 0px 3px 0px 5px;position: relative;}
.celula-titulo-misto-superior{background-color: #dae4f0;}
.celula-titulo-misto-superior td {border-right: 1px solid #FFF;font-weight: normal;color: #105a94;text-align: center;font-size: 12px;}
.titulos-medios-superior{width: 132px;}
.celula-titulo-misto-inferior{background-color: #e4eefc;}
.celula-titulo-misto-inferior td {border-right: 1px solid #ffffff;border-top: 1px solid #ffffff;font-weight: normal;color: #105a94;text-align: center;font-size: 12px;}
.titulo-primeira-coluna{color: #105a94 !important;}
.ajusta-largura-posicao{width: 77px;}
.celula-desabilitada{background-color: #e4eefc !important;}
.div-lbl-titulo-dash{margin: 10px 0px 15px 0px;}
.div-lbl-titulo-dash label{font-size: 14px;font-weight: bold;color: #053e67;}
.div-lbl-indicacao{margin: 10px 0px 0px 0px;}
.div-lbl-indicacao label{font-size: 15px;font-weight: bold;color: #053e67;}
.tabela-interna-dash{float: left;}



.text-score{text-align: center;font-weight: bold;}
.fundo-cinza-score{background-color: #f2f2f4}
.celula-branca-score{background-color: #FFFFFF;width: 80px;}
.painel-controle{width: 100%;}
.painel-controle tbody th {text-align: center !important;}
.legenda-graf-linhas{width: 100px; height: 200px;}
.graf-historico-legenda{width: 86px;position: relative;background-color: rgba(0,0,0,0.8);top: 448px;float: right;right: 60px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.cor-legenda-um{width: 16px;height: 16px;position: relative;margin: 10px 0px 9px 10px;}
.cor-legenda-dois{width: 16px;height: 16px;position: relative;margin-left: 10px;}
.cor-legenda-tres{width: 16px;height: 16px;position: relative;margin-left: 10px;top: 10px;}
.graf-historico-legenda label {position: relative;float: right;right: 10px;top: -25px;color: #FFF;font-weight: bold;}
.lbl-ano-dois{margin-top: 10px;}
.lbl-ano-tres{top: -6px !important;left: 25px;}
.rotacao{-moz-transform: rotate(-90deg);transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-o-transform: rotate(-90deg);position: absolute;font-weight: bold;font-family: Arial;font-size: 12px; margin: -60px 0px 0px -54px;}
.ajuste-rotacao-quantidade{margin-left: -30px !important;}
.rotacao-ie{filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);position: absolute;font-weight: bold;font-family: Arial;font-size: 12px; margin-top: -80px;}
.btn-grafico-tabela{margin-top: 7px;margin-left: -10px;border-right: 1px solid #FFF;padding-right: 10px !important;float: right;position: absolute;cursor: pointer;}

.cnt-resultado table .dad_bar td{color: #0d4680 !important;}
.div-disclaimer{text-align: justify;width: 906px;left: -8px;top: 13px;position: relative;color: #053e67;font-size: 12px;font-family: "arial";font-weight: normal;}
.titulo-Define{    font-family: Verdana, Arial, "Trebuchet MS"; color: rgb(1, 61, 101);padding: 10px 0 5px 0; font-weight: bold; font-size: 25px; border-bottom: 1px solid #D9E1E3;background-color: #FFF;padding-bottom: 15px;}
.div-msg-complemento-inf-restritivas{border: 0px !important;width: 100% !important;padding: 0px;margin: -24px 0 0 22px;background-color: transparent !important;}
.subtitulo{font-size: 11px; margin-left: 460px;}
.titulo-Define span{font-size: 11px;float: right;font-style: normal;position: relative;top: 12px;font-family: "arial";font-weight: bold;}
.sub-bar{background-color: #f1f9ff;}
.margin-table-inicio{background-color: #FFF;width: 35px;}
.margin-table-fim{background-color: #FFF;width: 35px;}
.title-extra-sintegra {font-family: "arial" !important; font-size: 16px !important; font-weight: bold !important;color: #fff !important;}
.ajusta-lbl-extra-cheque-21 div div label{margin: 45px 0px 0px -30px;}

.btn-incluir-gc a {text-decoration: blink;color: #FFF;top: 5px;left: 14px;position: relative;font-weight: bold;}
.btn-contratar-gc a {text-decoration: blink;color: #FFF;top: 5px;left: 2px;position: relative;font-weight: bold;}
.txt-gc{width: 288px;left: 35px;position: relative;top: -23px;}
.lupa-gc img{position: relative;margin: 10px 0px 0px 5px;width: 16px;height: 16px;}
.txt-gc a{color: #0d4680;font-weight: bold;}
.ajusta-btn-impressao{top: -10px;position: relative;}
.txt-contrata{width: 190px;}

.link-painel-controle span {text-decoration: underline !important;}
.link-painel-controle a:link {text-decoration: underline !important; color: #0d4680;font-size: 11px !important;font-family: arial;}
.link-painel-controle a:active {text-decoration: underline !important; color: #009900;font-size: 11px !important;font-family: arial;}
.link-painel-controle a:hover {color: #0d4680;font-size: 11px !important;font-family: arial;}
.link-painel-controle a:visited {color: #0d4680;font-size: 11px !important;font-family: arial;}


.lnk-factor{color: #0d4680;font-weight: bold!important;font-size: 20px !important; font-family: Arial; margin: 20px 0px 0px 895px;}
.lnk-factor a:link{color: #0d4680;font-weight: bold!important;font-size: 20px !important;font-family: Arial;}
.lnk-factor a:active {text-decoration: underline !important; color: #0d4680;font-weight: bold!important;font-size: 20px !important;font-family: arial;}
.lnk-factor a:hover {color: #0d4680;font-weight: bold!important;font-size: 20px !important;font-family: arial;}
.lnk-factor a:visited {color: #0d4680;font-weight: bold!important;font-size: 20px !important;font-family: arial;}

.resultado-anvisa{background: #fff !important;}
.resultado-anvisa-outro{background: #F7F7F9 !important;}

.btn-incluir-gc{
    position: relative;
    width: 60px;
    height: 20px;
    top: -44px;
    right: 45px;
    float: right;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.help-gc{
    position: relative;
    width: 54px;
    height: 30px;
    top: -39px;
    right: -84px;
    float: right;
}

.gerenciamento-carteira{
  position: absolute;
  left: -330px;
  border: 1px solid #0d4680;
  top: -5px;
  height: 35px;
  width: 320px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.div-botoes-complemento-extras {background-color: #fff9ec; border: 1px solid #dce1e6; height: 65px;}
.div-botoes-complemento-extras img {position: relative;padding: 14px 0px 0px 15px;float: left;}
.div-botoes-complemento-extras label {color: #47559d; font-weight: bold; font-size: 12px; position: relative;top: 7px;left: 4px;;cursor: pointer;margin-right: 5px;}
.div-botoes-complemento-extras-ajuste-esquerda{width: 480px; float: left; }
.div-botoes-complemento-extras-ajuste-direita{width: 480px; margin-left: 484px;}
.msg-custo-adicional{padding: 10px 0px 0px 53px; color: #47559d; font-size: 10px;}

.titulo-tabela-interna {
  color: rgb(13, 70, 128) !important;
  font-size: 15px !important;
  font-weight: bold !important;
  margin-left: 10px !important;
}

/*Altera propriedades da fonte de todas as barras de título*/
.tit_tex{
  font-family: "arial" !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: #fff !important;
}

/*Altera propriedades do tamanho dos icones de ajuda e seta de todas as barras de título*/
.help-back ul li img{
  width: 16px !important;
  padding: 5px !important;
}

/*Altera propriedades do tamanho dos icones de ajuda e seta de todas as barras de título*/
.help-back ul .ajuda img{
  padding: 3px !important;
  margin-left: 10px !important;
}

/*Altera propriedades da cor da fonte de todos os campos de todas as tabelas*/
.cnt-resultado th{
  color: #0d4680 !important;
  border-top: 0;
}

/*Altera propriedades da cor da fonte de todos os campos de todas as tabelas*/
.cnt-resultado td{
  color: #666666 !important;
  font-size: 12px !important;
  border-top: 0;
}

/*Altera propriedades do background do dashboard e do body*/
#dasboard{
  width: 1068px !important;
  background: #fff !important;
  margin: -18px -1500px 0 -100px !important;
  padding: 15px 0px 15px 100px !important;
}


/*Altera propriedades da barra de título do Dashboard*/
#dasboard .tit_bar{
  text-align: center;
  background: #fff;
  border: 0px;
}

/*Altera propriedades da fonte da barra de título do Dashboard*/
#dasboard .tit_tex{
  text-align: center !important;
  color: #0d4680 !important;
  font-size: 20px !important;
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
}

/*Remove ícones de ajuda da barra de título do Dashboard*/
#dasboard .tit_bar .help-back{
  visibility: hidden;
  opacity: 0;
}


/*Altera propriedades da fonte do 1º subtitulo do Dashboard*/
#dasboard .div-lbl-titulo-dash label{
  font-family: "arial" !important;
  font-weight: normal !important;
  font-size: 12px !important;
}

/*Altera propriedades da fonte do 2º subtitulo do Dashboard*/
#dasboard .div-lbl-indicacao label{
  font-family: "arial" !important;
  font-size: 16px !important;
}

/*Remove a borda da tabela do Dashboard*/
#dasboard tbody tr td{
  border: 0px;
}   

/*Remove a borda das tabelas 2 tabelas superiores*/
.ajuste-largura-tbl-validacoes, .ajuste-largura-tbl-painel-controle{
  border-top: 0px !important;
}

.ajuste-largura-tbl-validacoes{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ajuste-largura-tbl-painel-controle{
    padding-right: 0px !important;
    float: right;
    margin-right: -16px;
}
  
/*Altera propriedades da barra de titulo das 2 tabelas superiores*/
#tabelaInternaDash .tit_bar {
  text-align: left !important;
  background: #053f67 !important;
  color: #ffffff !important;
  float: initial !important;
}

/*Altera propriedades da fonte da barra de título das 2 tabelas superiores*/
#tabelaInternaDash .tit_tex{
  color: #ffffff !important;
  font-size: 16px !important;
  position: relative;
}

/*Altera propriedades dos campos TH das 2 tabelas superiores*/
#tabelaInternaDash .dad_bar th {
  padding: 5px 11px !important;
  text-align: center !important;
  background: #e0eaf5 !important;
}

/*Altera propriedades da fonte dos campos TH das 2 tabelas superiores*/
#tabelaInternaDash .dad_bar strong{
  color: #0d4680 !important;
  font-family: arial !important;
  font-size: 11px !important;
}

/*Altera propriedades da fonte e do campo TD das 2 tabelas superiores*/
#tabelaInternaDash tr td {
  padding: 5px 7px !important;
  font-size: 11px !important;
  border-top: 1px solid #dde3e6 !important; 
}

/*Altera propriedades da fonte no campo TD das 2 tabelas superiores*/
#tabelaInternaDash tr td span{
  color: #0d4680 !important;
  font-size: 11px !important;
}

/*Altera propriedades da fonte e do background dos campos TH de todas as tabelas*/
#identificacaoBasicoRelatorio .dad_bar th {
  padding: 8px 7px !important;
  text-align: left !important;
  background: #e0eaf5 !important;
  font-size: 11px !important;
  color: #0d4680 !important;
  font-weight: bold !important;
}

/*Altera propriedades da fonte dos campos TD de todas as tabelas*/
#identificacaoBasicoRelatorio .dad_tex td {
  padding: 8px 7px !important;
  text-align: left !important;
  font-size: 11px !important;
}

/*Altera propriedades da fonte dos campos de subtitulo com fundo amarelo*/
.linha-inf-extra .lbl-titulo-inf-extra{
  font-size: 12px !important;
}

/*Altera propriedades da fonte dos campos com fundo amarelo*/
.linha-inf-extra strong{
  color: #0d4680 !important;
  font-size: 11px;
    font-family: Arial;
}

/*Altera propriedades da fonte dos campos com fundo amarelo*/
.linha-inf-extra th{
  color: #0d4680 !important;
    border-bottom: 1px solid #FFF;
    font-size: 11px;
    font-family: Arial;
}

/*Tentei alterar as propriedades do background da tabela score separadamente, porém no HTML nao existe nada que diferencie uma classe da outra*/

/*Altera propriedades do background do campo de score das tabelas de SCORE*/
#layoutScore #corpoBlocoScore #divScoreBlocoEsquerdo .tbl-score-bloco-esquerdo .dad_bar{
  background: #e6f0fc !important;
}

/*Altera propriedades da fonte do número e da porcentagem ao lado do campo score*/
#layoutScore #corpoBlocoScore #divScoreBlocoEsquerdo .tbl-score-bloco-esquerdo .text-score{
  color: #676767 !important;
}

/*Altera propriedades da fonte do texto dos campos das tabelas de SCORE*/
#tblScoreBlocoEsquerdo .dad_bar{
  color: #367fb4 !important;
  position: relative;
}

/*Altera propriedades da fonte do texto "SCORE" do campo de score das tabelas de SCORE*/
#tblScoreBlocoEsquerdo .dad_bar div span{
  font-size: 12px !important;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*Altera propriedades da fonte do número do campo de score das tabelas de SCORE*/
#tblScoreBlocoEsquerdo .dad_bar div label{
  color: #000000 !important;
  font-size: 25px !important;
}

/*Altera propriedades da fonte da tabela de ATENÇÃO*/
#layoutBlocoAtencao table tr td p{
  color: #6c686c !important;
  font-size: 13px !important;
  font-family: arial !important;
  padding-left: 30px !important;
  padding-bottom: 10px !important;
  margin: 0 !important;
}

/*Altera propriedades da fonte do título da tabela de ATENÇÃO*/
#layoutBlocoAtencao .tit_tex_atencao{
  font-size: 14px !important;
}

/*Altera propriedade position da tabela ATENÇÃO*/
#layoutBlocoAtencao .borda-interna-atencao{
  position: relative !important;
}

/*Altera propriedade position do icone de alerta da tabela ATENÇÃO*/
#layoutBlocoAtencao .borda-interna-atencao .iconeAlerta{
  position: absolute !important;
  top: 5px !important;
}

/*Altera propriedade background da area de ajuda da tabela ATENÇÃO*/
#layoutBlocoAtencao .help-back ul{
  position: relative !important;
  margin-top: 4px !important;
  left: 7px !important;
  float: right !important;
  background-color: #eebabe !important;
  width: 70px !important;
}

/*Altera propriedade position do icone AJUDA da area de ajuda da tabela ATENCAO*/
#layoutBlocoAtencao .help-back ul li img{
  position: absolute !important;
  top: 1px !important;
  left: 10px !important;
}

/*Altera propriedade position do icone de seta da area de ajuda da tabela ATENCAO*/
#layoutBlocoAtencao .help-back .img-seta-atencao{
  left: 28px !important;
}

/*Altera propriedades da fonte do título da tabela de ATENÇÃO*/
#layoutBlocoTitulosExtras .dad_bar strong{
  color: #0d4680 !important;
}

/*Alinha o texto no centro dos campos de todas as colunas da tabela Socios*/
#layoutBlocoTitulosExtras td{
  text-align: center !important;
}

/*Alinha a bolinha amarela no centro do campo das colunas da tabela Socios*/
#layoutBlocoTitulosExtras td .img-restricoes{
  margin-right: 25px !important;
  width: 16px;
  height: 16px;
}

/*Alinha o texto na esquerda dos campos e muda a cor da fonte das duas primeiras colunas da tabela Socios */
#layoutBlocoTitulosExtras td.texto-esquerda{
  text-align: left !important;
  color: #0623bc !important;
  /*text-decoration: underline;*/
}
  
/*Alinha o texto na esquerda dos campos das duas primeiras colunas da tabela Socios */
#layoutBlocoTitulosExtras td.texto-esquerda div.ajuste-div-table{
  color: #696969 !important;
  /*text-decoration: none; */
}

/*Alinha a bolinha amarela no centro do campo das colunas da tabela Administradores*/
#divextraAdministradoresBasico #identificacaoBasicoRelatorio td .img-restricoes{
  margin-left: 5px !important;
  width: 16px;
  height: 16px;
}

/*Nao foi possivel alterar a cor da fonte do nome dos administradores, pois ao alterar a cor, outros campos da tabela tambem mudavam a cor do texto.*/

/*Alinha o texto na esquerda dos campos das duas primeiras colunas da tabela Administradores */
#divextraAdministradoresBasico #identificacaoBasicoRelatorio td.texto-esquerda{
  text-align: left !important;
  /*color: #0623bc !important;*/
}

/*Espaçamento entre todas as tabelas da página*/
.cnt-resultado table{
  margin: -10px 0 10px 0!important;
}
  
/*Altera propriedadea cor da fonte do sub-título da tabela de cadastro na Anvisa*/
.cnt-resultado #identificacaoBasicoRelatorio .linha-inf-extra .red{
  color: #e10300 !important;
}

/*Altera propriedade cor , tamanho e tipo da fonte de sub-títulos de várias tabelas*/
.cnt-resultado #identificacaoBasicoRelatorio tr td strong{
  color: #0d4680 !important;
  font-family: "arial" !important;
    font-size: 11px !important;
    font-weight: bold;
}

/*Altera propriedade tamanho e tipo da fonte dos textos de várias tabelas*/
.cnt-resultado #identificacaoBasicoRelatorio tr td{
  font-family: "arial" !important;
  font-size: 12px !important;
}

/*Altera propriedade tamanho e tipo da fonte dos textos de várias tabelas*/
.cnt-resultado #layoutBlocoTitulosExtras tr td{
  font-family: "arial" !important;
  font-size: 12px !important;
}

/*Altera tamanho da fonte da de informações complementares*/
.existe-inf-complementar{
  font-size: 12px !important;
  border: 2px solid #fac02e !important;
}

/*Altera borda da area de informações de mercado*/
#divTextoInformacaoMercado{
  border: 2px solid #c1e0f3 !important;
  border-top: 0 !important;
}

/*Altera propriedades da fonte do conteudo das tabelas de informações de cada cadastro*/
#divOcultoBtnsMaisMenos #identificacaoBasicoRelatorio tr td{
  text-align: left !important;
}

/*Altera propriedades da fonte do conteudo das tabelas de informações de cada cadastro*/
#divOcultoBtnsMaisMenos #identificacaoBasicoRelatorio tr td span{
  font-size: 12px !important;
  color: #0d4680 !important;
}

/*Altera propriedades da fonte do titulo ANOTAÇÕES das tabelas de informações de cada cadastro*/
#divOcultoBtnsMaisMenos #identificacaoBasicoRelatorio .titulo-bar-tab-interna .tit_tex{
  font-size: 15px !important;
  color: #0d4680 !important;
}

/*Altera propriedades da fonte do conteudo das tabelas de informações de cada cadastro*/    
#divOcultoBtnsMaisMenos #identificacaoBasicoRelatorio tr .alinha-dados-tb-interna{
  text-align: center !important;
}

/*Altera propriedades da fonte do subtitulo da tabela TEMPO DE RELACIONAMENTO COM FORNECEDORES*/  
.cnt-resultado .subtitu_bar{
  font-family: "arial" !important;
  font-size: 12px !important;
}

/*Altera propriedades da fonte do conteudo da tabela TEMPO DE RELACIONAMENTO COM FORNECEDORES*/
.cnt-resultado td strong {
  font-family: "arial" !important;
  font-size: 12px !important;
  color: #0d4680 !important;
}

/*Altera propriedades da fonte das tags H2 e STRONG da tabela COMPORTAMENTO COM SUA EMPRESA*/
h2{
  font-family: "arial" !important;
  font-size: 20px !important;
}

strong font{
  font-family: "arial" !important;
  font-size: 18px !important;
}




.branco {
  background: #ffffff !important;
}
    

/*---------------Define background para a table de layout---------------*/
#layoutScore{
  background: #fff !important;
}

/*---------------Define background e position das tables de extra---------------*/  
.div-botoes-complemento-e-extras{
  margin: 0 !important;
  padding: 15px 2px 0 0 !important;
  background: #ffffff;
  height: 50px !important;
}


/*---------------Define background para a DIV do bloco de atenção---------------*/  
#layoutBlocoAtencao tbody{
  background: #ffffff;
}

#divOcultoBtnsMaisMenos{
  background: #ffffff;
  padding: 0 4px 15px 0 !important;
  margin: 0 !important;
}

#tabelaInternaDash > tbody > tr > td > img{
  width: 12px;
  height: 12px;
}

.existe-inf-complementar img{
  width: 16px !important;
    height: 16px !important;
}

.row.grey{
  background: #f5f5f7 !important;
}

.row.white{
  background: #fff !important; 

}

.btn-mais{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais-ext label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-ext label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-adm{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais-adm label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos-adm{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-adm label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-adm-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais-adm-ext label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos-adm-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-adm-ext label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-outra-empresa{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais-outra-empresa label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos-outra-empresa{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-outra-empresa label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-outra-socio{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: -2px !important;
  height: 14px !important;
  width: 14px !important;
    margin-left: -5px;
}

.btn-mais-outra-socio label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos-outra-socio{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-outra-socio label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-outra-empresa-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais-outra-empresa-ext label{
  top: -4px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-menos-outra-empresa-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-outra-empresa-ext label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.btn-mais-outra-socio-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-mais-outra-socio-ext label{
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.btn-menos-outra-socio-ext{
  font-size: 13px !important;
  border: 1px solid #0C457F !important;
  margin-top: 2px !important;
  height: 14px !important;
  width: 14px !important;
}

.btn-menos-outra-socio-ext label{
  top: -2px !important;
  position: relative !important;
  padding: 3px !important;
  cursor: pointer !important
}

.alink {
  text-align: left !important;
    color: #0623bc !important;
    text-decoration: underline;
}

.decisao-mensagem{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 16px;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}