body{
	font-size:14px;
  font-family: 'Open Sans';
  background-color:#eaeaea;
  padding-top:100px;
}


.center-block {
  display: block;
  /* mod */
  float:none;
  margin-right: auto;
  margin-left: auto;
}

.overflow{
  overflow:hidden;
}






