
.accordionIcone {
	border:0px;	
}
.accordion {
	list-style:none;
	margin:0;
	padding:0;
	width:276;
}
.menu_fora{
	margin-left:auto;
	margin-top:-1px;
	margin-right:2%;
	border:0;	
}
.conteudo_{
	margin-top:10px;
	margin-right:-5%;
	padding:0;
}
.table_menu {
	clear:both;
	padding:0;
	margin:0;
	border:0;
}
.td_menu{
	clear:both;
	padding:0;
	margin:0;
	border:0;
}
.header_ {
	float:left;
	background-image: url(/spc/images/accordion/topo_header.png);
	background-repeat: no-repeat;
	width:276px;
	height:27px;
	line-height:27px;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	border:0px;
	margin:0;
}
.meio_fundo {
	background-image:url(/spc/images/accordion/fundo_header.png);
	background-repeat: repeat-y;
	border:0px;
	padding:0;
	margin:0;
	height:auto;
}
.rodape{
	display: table-cell;
	overflow:auto;
	vertical-align:bottom;
	position: absolute;
	text-align:center;
	border:0px;
	padding:0;
	margin:0;
}
.toolbar_ {
	position:relative;
	background-image: url(/spc/images/accordion/fundo_degrade.png);
	background-repeat:no-repeat;
	width:276px;
	height:92px;
	line-height:92px;
	text-align:center;
	border:0px;
	padding:0;
	width:276px;
	height:92px;
}
.toolbarcp_ {
	position:relative;
	background-image: url(/spc/images/accordion/fundo_degrade_cp.png);
	background-repeat:no-repeat;
	width:276px;
	height:92px;
	line-height:92px;
	text-align:center;
	border:0px;
	padding:0;
	width:276px;
	height:92px;
}
.toolbar_painel {
	margin-left:30px;	
	margin-right:-14px;
	_margin-right:0px;
}
.toolbar_ajuda {
	margin-left:-20px;
	_margin-left:40px;
}
.toolbar_sair {
	margin-left:45px;	
	_margin-left:30px;	
	margin-right:-23px;
	_margin-right:0px;
}
.div a,.div a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/titulo_header.png);
	background-repeat:no-repeat;
	width:276px;
	height:37px;
	line-height:37px;
	margin-top:-2px;
	display:table;
	text-transform: uppercase;
	text-decoration:none;
}

.div a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/titulo_header_hover.png);
	background-repeat:no-repeat;
	width:276px;
	height:37px;
	line-height:37px;
	margin-top:-2px;
	display:table;
	text-transform: uppercase;
	text-decoration:none;
}

.divaction a, .divaction a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/titulo_header.png);
	background-repeat:no-repeat;
	width:276px;
	height:37px;
	line-height:37px;
	margin-right:0px;
	margin-top:-2px;
	display:table;
	text-transform: uppercase;
	text-decoration:none;
}
.divaction a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/titulo_header_hover.png);
	background-repeat:no-repeat;
	width:276px;
	height:37px;
	line-height:37px;
	margin-top:-2px;
	display:table;
	text-transform: uppercase;
	text-decoration:none;
}
.fun a, .fun a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/sub_menu.png);
	background-repeat:no-repeat;
	width:276px;
	height:30px;
	line-height:30px;
	margin-top:-2px;
	display:table;
	text-transform:capitalize;
	text-decoration:none;
}
.fun a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/sub_menu_hover.png);
	background-repeat:no-repeat;
	width:276px;
	height:30px;
	line-height:30px;
	margin-top:-2px;
	display:table;
	text-transform:capitalize;
}
.funaction a, .funaction a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/sub_menu.png);
	background-repeat:no-repeat;
	width:276px;
	height:30px;
	line-height:30px;
	margin-top:-2px;
	display:table;
	text-transform:capitalize;
	text-decoration:none;
}
.funaction a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/sub_menu_hover.png);
	background-repeat:no-repeat;
	width:276px;
	height:30px;
	line-height:30px;
	margin-top:-2px;
	display:table;
	text-transform:capitalize;
}
.action a, .action a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/sub_menu_sub.png);
	background-repeat:no-repeat;
	width:276px;
	height:30px;
	line-height:30px;
	margin-top:-2px;
	display:table;
	text-transform:capitalize;
}
.action a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	background-image:url(/spc/images/accordion/sub_menu_sub_hover.png);
	background-repeat:no-repeat;
	width:276px;
	height:30px;
	line-height:30px;
	margin-top:-2px;
	display:table;
	text-transform:capitalize;
}
.menu_select{
	background-color: #6C9BA6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #626c89;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #626c89;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9ca1b1;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #626c89;
	color: #FFF;
	font-family: Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 10px;
	font-stretch: normal;
	margin-top: 1px;
	margin-left: 4px;
	width:268px;
	height:20px;
	_margin-left: 5px;
	_width:266px;
	vertical-align:middle;
	text-transform: capitalize;
}

.menu_select option{
	background-color: #6C9BA6;
	color: #FFF;
	font-family: Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 10px;
	vertical-align:middle;
	text-transform: capitalize;
}


/* Menu Popup */
/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #eaf1f3;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #578590;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

.contextMenu LI.ajuda A { background-image: url(/spc/images/ico_help.png); }