.table_mae_balcao{
font-family: Courier;
font-size: 10px;
text-align:left;
background-color:#FFFFFF;
width:100%;
*width:100%;
}

.table_balcao{
font-family: Courier;
font-size: 10px;
text-align:left;
width:300px;
*width:460px;
}
.titulo_balcao{
text-align:center;
font-weight:bold;
letter-spacing:1px;
font-family: Courier;

}
.centro_balcao{
font-family: Courier New; color: black; font-size: 10px
                                                   
}
.td_grid_titulo_balcao {
text-align:left;
padding:.1em;
border:1px solid #F2F6F7;
background:#eaf1f3;
height:30px;
font-weight:bold; 
font-family: Courier;

}