.gauge-container {
    width: 260px;
    height: 200px;
    display: flex;
    text-align: right;
    float: right;
    margin: 0px -35px;
}


.gauge {
	margin: 10px 25px;
	border:0px solid #d3d3d3;
}

.graphtext {
	display: block;
	white-space: normal;
}

.panel6_graph {
	background: #D9E8EC;
	color: #333;
	font-weight: bold;
	vertical-align: inherit;
	border: 1px solid #F2F6F7;
}

.graphLegend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	margin-bottom:2px;
}

.graphDescription {
	font-family: sans-serif;
    font-weight: 800;
    font-size: 15px;
	margin-bottom:2px;
	
}

.graphDescription1 {
	color: #FF5050;
}

.graphDescription2 {
	color: 	#F4B084;
}

.graphDescription3 {
	color: #8EA9DB;
}

.graphDescription4 {
	color: #2F75B5;
}

.graphDescription5 {
	color: #285496;
}



hr {
	display: inline-block;
	width: 58%;
}

.texto_collection_score{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	text-align:justify;
	margin-top:0px;
}

.texto_4b_collection_score {
    font-size: 11px;
    color: #4f96af;
    text-transform: none;
    font-weight: bold;
    text-align: justify;
}
