/********************************

SCOREEEEEEEEEEEEEEEEEEEEEEEEEEEE

/**************  TABELA INTEIRA ***************/


.td_full_score{
	background-color:#eaf1f3;
	width: auto;
	height: auto;
	text-align: center;
	border:1px solid #F2F6F7;


}
/**************  A ***************/
.tda_box_score{
	float:left;
	width:27%;
	_width:35%;
	*width:25%;
	height:200px;
	_height:200;
	border-right:none;	
	border-color:#FFFFFF;
}

.tda_box_score_100{
	float:left;
	width:100%;
	_width:100%;
	*width:100%;
	height:200px;	
	border-right:none;	
	border-color:#FFFFFF;
}

.td_2a1_score{
width:100%;
height:100px;
text-align:center;
}
.td_luz_score{
width:50px;
text-align:center;
}
.td_luz2_score{
width: 200px;
text-align:center;
}

.td_1a_score{
width: auto;
height:30px;
text-align: left;
border-color:#FFFFFF;
border-bottom-width:thin;
border-bottom-style:solid;

	padding-left:3px;
	padding-right:3px;
	padding-top:2px;
	padding-bottom:2px;
	
	*padding-left:1px;
	*padding-right:1px;
	*padding-top:1px;
	*padding-bottom:1px;

}
.td_2a_score{
width: auto;
height: auto;
text-align:center;
padding-bottom:1px;
padding-top:2px;
_padding-bottom:1px;
*padding-top:1px;
}
/*
.td_3a_score{
width: auto;
height: auto;
text-align:center;
}
*/
.td_4a_score{
width: auto;
height: 20px;
text-align: justify;
padding-top:3px;
padding-left:3px;
padding-right:3px;

_padding-top:3px;
_padding-left:3px;
_padding-right:3px;

*padding-top:3px;
*padding-left:3px;
*padding-right:3px;

border-color:#FFFFFF;
border-top-width:thin;
border-top-style:solid;
}
.texto_1a_score{
font-family: Tahoma, Arial,Helvetica,sans-serif;
font-size: 11px;
color: #236c83;
font-weight: bold;
}
.texto_2a_score{
font-family: Tahoma,Arial,Helvetica,sans-serif;
font-size: 10px;
color: #5197b0;
text-transform: uppercase;
font-weight: bold;
text-align: justify;
}
.texto_3a_verde_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 40px;
_font-size: 40px;
*font-size: 40px;

color:#236c83;
text-transform: uppercase;
}
.texto_3a_amarelo_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 40px;
_font-size: 40px;
*font-size: 40px;

color:#236c83;
text-transform: uppercase;
}
.texto_3a_vermelho_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 40px;
_font-size: 40px;
*font-size: 40px;

color:#236c83;
text-transform: uppercase;
}
.texto_3a2_verde_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 18px;
_font-size: 18px;
*font-size: 18px;

color:#0fa74b;
text-transform: uppercase;
}
.texto_3a2_amarelo_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 18px;
_font-size: 18px;
*font-size: 18px;

color:#e4c446;
text-transform: uppercase;
}
.texto_3a2_vermelho_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 18px;
_font-size: 18px;
*font-size: 18px;

color:#e13b3b;
text-transform: uppercase;
}


/**************  B ***************/
.tdb_box_score{
	float:left;
	width:73%;
	_width:74.8%;
	*width:74.8%;
	height:210px;
	_height:220px;
	*height:223px;
	background-color:#d9e8ec;
	padding-top:0px;
	padding-bottom:0px;
	_padding-top:0px;
	*padding-bottom:0px;	
}
.tdb_box_score_100{
	float:left;
	width:100%;
	_width:100%;
	*width:100%;
	height:210px;
	_height:220px;
	*height:223px;
	background-color:#d9e8ec;
	padding-top:0px;
	padding-bottom:0px;
	_padding-top:0px;
	*padding-bottom:0px;	
}
.td_1b_score{
width:111px;
height:112px;
text-align:center;
padding-left:5px;
padding-right:5px;
_padding-left:5px;
*padding-right:5px;
border-color:#FFFFFF;
border-left-width:thin;
border-left-style:solid;
}
.td_2b_score{
width:227px;
height:112px;
text-align:center;
line-height:60px;
padding-left:5px;
padding-right:5px;
_padding-left:5px;
*padding-right:5px;

}

.td_2b_score_classe{
width:180px;
height:112px;
line-height:30px;
padding-left:5px;
padding-right:5px;

}

.td_3b_score{
width:50px;
height:112px;
text-align:center;
_padding-right:5px;
*padding-right:5px;
padding-bottom:10px;
background-color: #eaf1f3;
}
.td_4b_score{
width: auto;
height: 30px;
text-align: justify;

*padding-bottom:10px;
*padding-top:10px;
*padding-left:8px;
*padding-right:8px;

padding-top:10px;
padding-bottom:10px;

padding-left:5px;
padding-right:5px;


border-color:#FFFFFF;
border-top-width:thin;
border-top-style:solid;

border-color:#FFFFFF;
border-left-width:thin;
border-left-style:solid;
}
.texto_1b_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 32px;
font-weight:bold;
color:#236c83;
text-transform: uppercase;
}
.texto_1b2_verde_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 60px;
color:#5197b0;
text-transform: uppercase;
}
.texto_1b2_amarelo_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 60px;
color:#e4c446;
text-transform: uppercase;
}
.texto_1b2_vermelho_score{
font-family: Geneva, Arial, Helvetica, sans-serif ;
font-size: 60px;
color:#e13b3b;
text-transform: uppercase;
}

.texto_4b_score{
font-size: 11px;
color:#236c83;
text-transform: none;
font-weight:bold;
text-align:justify;

}

.tdc_box_score{
width: 60%;
height:46%;
*height:20%;
background-color:#eaf1f3;
padding-right:10px;
padding-bottom:10px;
padding-top:10px;
margin-top:10px;
_padding-right:10px;
_padding-bottom:5px;
_padding-top:5px;

}

.texto_1c_score{
width:100%;
height:30px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight:bold;
color:#236c83;
text-transform: uppercase;
text-align:right;
padding-bottom:5px;
_padding-bottom:5px;
*padding-bottom:5px;
}
.texto_2c_score{
width:100%;
height:50px;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 14px;
color:#5197B0;
text-align:left;
text-transform: uppercase;
font-weight:bold;
padding-bottom:5px;
padding-right:10px;
padding-left:5px;

_padding-bottom:5px;
_padding-right:10px;
_padding-left:5px;

*padding-bottom:5px;
*padding-right:10px;
*padding-left:5px;

}
.texto_3c_score{
width:30px;
height:50px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size: 10px;
color:#236c83;
text-transform: uppercase;

font-weight:bold;

padding-bottom:5px;
_padding-bottom:5px;
*padding-bottom:5px;
}
.texto_4c_score{
width:100%;
height:100%;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 14px;
color:#5197B0;
text-align:left;
text-transform: uppercase;
font-weight:bold;
padding-bottom:5px;
padding-right:10px;
padding-left:5px;

_padding-bottom:5px;
_padding-right:10px;
_padding-left:5px;

*padding-bottom:5px;
*padding-right:10px;
*padding-left:5px;
}
.texto_5_score{
font-size:10px;
font-weight:bold;
color:#FF0000;
}
.td_form_score {
	text-align: justify;
	padding:.1em;
	border:1px solid #F2F6F7;
	background:#eaf1f3; 
	width: auto;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	
	*padding-left:3px;
	*padding-right:3px;
	*padding-top:3px;
	*padding-bottom:3px;
}